version: "3"

services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: app
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - ./app:/usr/src/app
    networks:
      - node-network

  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network

networks:
  node-network:
    driver: bridge
